<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.post_show_path(@socket, :show, @comment.post_id)}>
    <.live_component
      module={BrunoBlogWeb.CommentLive.FormComponent}
      id={@comment.id || :new}
      title={@page_title}
      action={@live_action}
      comment={@comment}
      return_to={Routes.post_show_path(@socket, :show, @comment.post_id)}
    />
  </.modal>
<% end %>
